// Theme 1
$primary-light-1: #f5f4e0;
$primary-dark-1: #446996;
$secondary-dark-1: #2a7dbf;


// Theme 2
$primary-light-2: #FBFEEB;
$primary-dark-2: #446592;
$secondary-dark-2: #2D81C1;

// Theme 3
$primary-light-3: #f5f4e0;
$primary-dark-3: #c17d5b;
$secondary-dark-3: #21353f;